<style>
a:focus, a:hover {
  background-color:white;
  text-decoration:none;
}
</style>
<div style="text-align:center">
	<h1><%= app_name %> login</h1>

	<div>
		<%= render "services_list" %>
	</div>

</div>