<style>
a:focus, a:hover {
  background-color:white;
  text-decoration:none;
}
</style>
<div style="text-align:center">
	<h1>Login <%= app_name %></h1>

	<div>
		<%= render "services_list" %>
	</div>

</div>