<tr>
  <td class="col-md-10 text-right" colspan="3" >
    <h5><%= footer_item[:description] %></h5>
  </td>
  <td class="col-md-2">
    <input class="text-right form-control white-readonly" readonly="readonly" type="text" 
      value="<%= eur(footer_item[:calculated_value]) %>"/>
  </td>
  <td>
</tr>